.Navbar {
  margin: 0px;
  padding: 30px 0px 0px 0px;
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: transparent;
}

@media screen and (max-width: 990px) {
  .Navbar {
    padding: 10px 0px 0px 0px;
  }
}

.navparent {
  width: 100%;
}

.navLogo {
  flex-flow: row wrap;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.logo {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  padding: 20px 0px 0px 0px;
}

.iconLogo {
  text-align: center;
  display: block;
  margin: auto;
}

.iconSearch,
.iconCart ul li {
  padding: 0px 10px;
  height: 40px;
  width: 40px;
}

.iconSearch {
  position: absolute;
  left: 10%;
}

input[type="text"] {
  width: 100px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 14px;
  background-color: transparent;
  background-image: url("/images/search.svg");
  display: block;
  background-size: 20px;
  background-position: 6px 6px;
  background-repeat: no-repeat;
  padding: 6px 10px 6px 28px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 200px;
}

@media screen and (max-width: 990px) {
  input[type="text"]:focus {
    width: 150px;
  }

  .nav-item form input {
    display: inline-flex;
  }
}

/* input[type="text"]:focus {
  width: 10%;
  margin-right: 10%;
} */
.iconCart {
  position: absolute;
  right: 10%;
}

.iconCart ul {
  list-style: none;
  float: left;
  display: flex;
}

.navbar-toggler,
.dropdown-menu li a {
  margin: auto;
  margin-right: 8%;
  display: block;
  border: none;
}

@media only screen and (max-width: 576px) {
  .iconCart {
    right: 1%;
  }
  .navbar-toggler,
  .dropdown-menu li a {
    margin-right: 0;
  }
}

.navbar-toggler img {
  padding: 0px 0px;
  width: 35px;
  border-radius: 5px;
  border: black solid 1px;
  margin: auto;
}

.navDimension {
  display: block;
  background-color: #68b0ab;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0px 30px;
  font-family: "Comic Neue", cursive;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navAttribute {
  margin: auto;
}

.navTabs {
  padding: 0px 12px;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: black;
}

.nav-link {
  border-bottom: 3px solid #69b0ac;
}

.nav-link:hover {
  border-bottom: 3px solid black;
  background-color: #fde8cd;
}

.navTabs .dropdown-menu {
  background-color: #e7e6e1;
}

.dropdown-item {
  text-align: center;
}

.dropdown-item:hover {
  background-color: #c0a587;
}

.dropdown-menu-inside {
  display: none;
  position: relative;
  width: 100%;
  list-style: none;
}

.nav-item-inside:hover .dropdown-menu-inside {
  display: block;
}

/* ***********************************navbar-end*********************** */

/* **********************************carousel***************************** */

.carousel {
  position: relative;
  margin: auto;
  width: 100%;
  height: fit-content;
}

.carousel-inner .carousel-item img {
  object-fit: cover;
}

.carousel-caption {
  width: 30%;
  display: table;
  margin-left: 40%;
  /* position: absolute; */
  top: 30%;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  /* top: 57% !important; */
  /* transform: translateY(-80%); */
  text-align: left;
}

.carousel-caption h1 {
  font-family: "Reem Kufi", sans-serif;
  /* color: black; */
  font-size: 5vw;
}

.carousel-caption p {
  font-family: "Karla", sans-serif;
  /* color: black; */
  font-size: 1vw;
  padding-left: 2px;
}

.carousel-caption h1,
.carousel-caption p {
  text-align: left;
}

.carousel-caption button {
  /* float: left; */
}
@media screen and (max-width: 990px) {
  .carousel-caption h1 {
    font-size: 5vw;
  }
  .carousel-caption p {
    font-size: 2vw;
  }
}

.shopnowbtn {
  border-radius: 0 !important;
  font-family: "Reem Kufi", sans-serif;
  background-color: burlywood;
  color: black;
}

@media screen and (max-width: 990px) {
  .carousel-caption {
    position: relative;
    width: 50%;
    min-height: 30%;
    margin: -10vw 10vw 5vw 10vw;
    padding: 1vw;
    background-color: whitesmoke;
    /* margin-left: 10%;
    margin-right: 10%;
    transform: none;
    position: absolute;
    display: table-row;
    top: 80%;
    width: auto; */
  }

  .carousel-inner .carousel-item {
    background-color: white !important;
  }

  .carousel .carousel-indicators {
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
  }
  .carousel-caption h1,
  .carousel-caption p {
    text-align: center;
  }

  .carousel-caption button {
    padding: 10px;
    font-size: 3vw;
    margin: auto;
    display: flex;
  }

  .carousel-control-prev,
  .carousel-control-next {
    /* display: none; */
  }
}

@media only screen and (max-width: 576px) {
  .carousel-inner .carousel-item {
    height: 150vw;
  }
  .carousel-inner .carousel-item img {
    height: 100vw;
  }
  .carousel-caption {
    padding-bottom: 10px;
    width: 60%;
    margin: -65vw 5vw 5vw 5vw;
  }
  .carousel-caption h1 {
    font-size: 2rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .carousel-caption .shopnowbtn {
    font-size: 1rem;
  }
}

/* **************************carousel-end*************************** */

/* *****************************feature****************************** */
.feature-header {
  margin: auto;
  text-align: center;
  font-family: "Reem Kufi", sans-serif;
  color: black;
  font-size: 50px;
}

.feature-container {
  margin: 2% 15%;
}

@media screen and (max-width: 990px) {
  .feature-container {
    margin: 2% 5%;
  }
}

.feature-content {
  margin: 3%;
  cursor: pointer;
}

.feature-content img {
  border-radius: 0 !important;
}

.feature-content:hover {
  opacity: 0.7;
  transition: 0.6s ease;
}

.card-img-overlay h2 {
  text-align: center;
  font-size: 50px;
  font-family: "Reem Kufi", sans-serif;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

@media screen and (max-width: 990px) {
  .card-img-overlay h2 {
    font-size: 35px;
  }
}

.card-img-overlay p {
  text-align: center;
  font-family: "Karla", sans-serif;
  width: fit-content;
  margin: auto;
  padding: 5px;
}

.card {
  border: none;
}

.card-text a {
  text-decoration: none;
  color: #c0a587;
  border-bottom: 1px #c0a587 solid;
}

.card-text a:hover {
  color: #fde8cd;
}

.text-content {
  margin-top: 50%;
  text-decoration: none;
}

/* **********************************feature-end********************************* */

/* **********************************footer*******************************************  */
/* #68b0ab
#8fc0a9
#c8d5b9
#faf3dd */

.footer-container {
  padding-top: 3%;
}

@media screen and (max-width: 990px) {
  .footer-container {
    padding-top: 6%;
  }
}
.footer-widget p {
  margin-bottom: 27px;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: black;
  line-height: 28px;
}

.dk-footer {
  padding: 40px 0 0 0;
  background-color: #c8d5b9;
  position: relative;
  z-index: 2;
}
.dk-footer .contact-us {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 80px;
}
.dk-footer .contact-us .contact-info {
  margin-left: 50px;
}
.dk-footer .contact-us.contact-us-last {
  margin-left: -80px;
}
.dk-footer .contact-icon i {
  font-size: 24px;
  top: -15px;
  position: relative;
  color: #7fa998;
}

.dk-footer .logo-img {
  margin-top: -15%;
  padding: 10px;
}

.dk-footer .logo-img a img {
  display: block;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: -15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dk-footer .footer-social-link ul {
  list-style-type: none;
  padding: 10px 10px 20px 10px;
  margin: auto;
  width: 60%;
}

@media screen and (max-width: 990px) {
  .dk-footer .footer-social-link ul {
    /* width: 47%; */
  }
  .dk-footer .logo-img a img {
    margin-top: -10%;
  }
}
.dk-footer .footer-social-link li {
  display: inline-block;

  margin-bottom: 18px;
}
.dk-footer .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  color: #fff;
}

.dk-footer .footer-social-link a {
  text-decoration: none;
}

.dk-footer .footer-social-link a i.fa-facebook {
  background-color: #3b5998;
}
.dk-footer .footer-social-link a i.fa-twitter {
  background-color: #55acee;
}
.dk-footer .footer-social-link a i.fa-whatsapp {
  background-color: #25d366;
}
.dk-footer .footer-social-link a i.fa-linkedin {
  background-color: #0976b4;
}
.dk-footer .footer-social-link a i.fa-instagram {
  background-color: #b7242a;
}

.footer-awarad {
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.dk-footer .footer-social-link-message h3,
.footer-awarad p {
  color: black;
  margin: auto;
  font-size: 20px;
  font-family: "Reem Kufi", sans-serif;
  font-weight: 500;
  /* margin-left: 20px; */
  text-align: center;
  padding-bottom: 15px;
}

.footer-left-widget {
  padding-left: 80px;
}

.footer-widget .section-heading {
  margin-bottom: 30px;
}

.footer-widget h3 {
  font-size: 24px;
  font-family: "Reem Kufi", sans-serif;
  color: black;
  position: relative;
  padding-top: 10px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-widget ul {
  width: 60%;
  /* float: left; */
  list-style: none;
  margin: auto;
  padding: 0;
}

.footer-social-link {
  /* display: flex; */
  /* margin: auto; */
}

.footer-social-link ul {
  /* flex: 1; */
  display: flex;
  margin: auto;
}

.footer-social-link li {
  flex: 1;
}

.footer-widget li {
  margin-bottom: 18px;
}

.footer-widget p {
  margin-bottom: 27px;
}

.footer-widget a {
  color: black;
  font-family: "Karla", sans-serif;
  -webkit-transition: all 0.3s;
  text-decoration: none;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-widget a:hover {
  color: #158467;
}

.footer-widget:after {
  content: "";
  display: block;
  clear: both;
}

.dk-footer-form {
  position: relative;
}
.dk-footer-form input[type="email"] {
  padding: 14px 28px;
  border-radius: 40px;
  background: white;
  border: 1px solid white;
}
.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
  color: black;
  font-size: 14px;
}
.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
  color: #878787;
  font-size: 14px;
}
.dk-footer-form button[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 12px 24px 12px 17px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #16a596;
  background: #68b0ab;
  color: #fff;
}
.dk-footer-form button:hover {
  cursor: pointer;
}

.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-icon {
  position: absolute;
}
.contact-icon i {
  font-size: 36px;
  top: -5px;
  position: relative;
  color: #7fa998;
}

.contact-info {
  margin-left: 75px;
  color: black;
}

.contact-info h3 {
  font-size: 20px;
  color: black;
  font-family: "Reem Kufi", sans-serif;
  margin-bottom: 0;
}

.copyright {
  padding: 23px 0;
  margin-top: 55px;
  background-color: #faf3dd;
}

@media screen and (max-width: 576px) {
  .copyright {
    padding: 20px 0 60px 0;
  }
}
.copyright span,
.copyright a {
  color: black;
  font-family: "Reem Kufi", sans-serif;
  font-size: 17px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.copyright a:hover {
  color: #898b8a;
}

/* .copyright-menu {
  display: flex;
} */

.copyright-menu ul {
  text-align: right;
  margin: 0;
  float: right;
  /* flex: 1; */
}

.copyright-menu li {
  display: inline-block;
  padding-left: 10px;
  float: left;
}

.back-to-top {
  position: relative;
  z-index: 2;
}
.back-to-top .btn-light {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #fadcac;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.back-to-top .btn-light:hover {
  cursor: pointer;
  background: #68b0ab;
  border-color: #7fa998;
}

/* *************************edit line ********************** */

/* navy navbar */

#nav_container {
  background-color: #c0a587;
  margin: 0px;
  padding: 0px 200px;
  width: 1136px;
  position: fixed;
  top: -65px;
  display: block;
  transition: top 0.3s;
  z-index: 15;
}

@media screen and (max-width: 800px) {
  #nav_container {
    padding: 0px 20px;
    left: 0px;
    right: 0px;
    width: 737px;
  }
}

.logo_navy {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  float: left;
  display: inline-block;
}

.tabs_navy {
  list-style: none;
  padding: 20px 0px 0px 20px;
  display: inline-block;
  margin: 0px;
  width: 400px;
}

.tabs_navy a {
  text-decoration: none;
  color: black;
}

.tabs_navy .menu_tabs {
  text-decoration: none;
  color: black;
  margin: 0px;
  float: left;
}

.tab_right_navy {
  display: inline-block;
  padding: 20px 0px 20px 0px;
  float: right;
  top: 0px;
  margin: 0 auto;
}

.menu_tabs_navy {
  padding: 0px 12px 20px 12px;
  font-family: "Karla", sans-serif;
  float: left;
}
.menu_tabs_navy:hover {
  border-bottom: 3px solid;
  transition: 0.2s ease-in-out;
}

.box .sub_menu_tabs {
  margin: 45px 200px;
}

@media screen and (max-width: 800px) {
  .box .sub_menu_tabs {
    width: 730.4px;
    margin: 45px 10px;
  }
}
